.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.centered{
  position: absolute;
  left: 15%; 
  top: 13%;
  transform: translateX(-50%); 
}
